body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.navbar {
  background-color: darkblue;
  color: white;
}

.navbar-header {
  text-align: center;
}

.dropdown {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.dropdown ul {
  text-align: center !important;
}

.button, .dropdown-menu{
  margin:10px auto;
}

.dropdown-menu{
  width:200px;
  left:50%;
  margin-left:-100px;
}

#nav {
  text-align: right;
}

#nav button {
  margin: 0 10px;
}

#dropdowns, #favorites-top{
  height: 140px;
  border: 2px solid red;
}

#dropdowns p {
  text-align: center;
  margin-top: 10px;
}

#cheeses, #favorites-main {
  height: 390px;
  border: 2px solid green;
}

#player {
  height: 390px;
  border: 2px solid blue;
}

.cheese {
  height: 140px;
  text-align: center;
}


.cheese img {
  width: 100px;
  margin-bottom: 12px;
}

.cheese:nth-of-type(-n + 2) {
  margin-top: 30px;
}

.cheese:nth-of-type(n + 3) {
  margin-top: 40px;
}

.cheese btn {
  height: 2px !important;
}
